---
import Logo from './Logo.astro';
const { siteTitle, siteTitleHref } = Astro.locals.starlightRoute;
---

<a href={siteTitleHref} class="site-title sl-flex">
  <Logo height="24" alt={siteTitle} />
</a>
